.footer {
    background-color: #2f2f2f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
 
@media (max-width: 575.98px) {
  .footer {
    padding: 15px; 
    text-align: center;
  }

  .footer p {
    font-size: 0.8rem; 
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    padding: 18px; 
  }

  .footer p {
    font-size: 0.85rem;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding: 20px; 
  }

  .footer p {
    font-size: 0.9rem; 
  }
}


@media (min-width: 992px) {
  .footer {
    padding: 20px; 
  }

  .footer p {
    font-size: 0.9rem; 
  }
}
