
img {
  max-width: 100%; 
  height: auto; 
  display: block;
}


.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f7f5e7;
  height: 100vh;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

.profile {
  max-width: 50%;
  padding: 10px; 
  box-sizing: border-box;
}

.profile h1 {
  margin-left: 100px;
  font-size: 6.5rem;
  margin-bottom: 1.9rem;
  color: #0c1111;
}

.profile p {
  margin-left: 100px;
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #377e9b;
}


.btn {
  margin-left: 100px;
  color: #ffffff;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}


.pastel-btn {
  background-color: #a7c7e7;
}

.pastel-btn:hover {
  background-color: #c7e3f3;
  color: #0c1111;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.pastel-btn:active {
  transform: scale(0.95);
}


.profile-image img {
  width: 100%;
  max-width: 450px;
  height: auto; 
  margin-left: 30px;
  margin-right: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 575.98px) {
  .home {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: auto;
    text-align: center;
  }

  .profile {
    max-width: 100%;
    padding: 10px;
  }

  .profile h1 {
    margin-top: 40px;
    margin-left: 0;
    font-size: 3rem;
  }

  .profile p {
    margin-left: 0;
    font-size: 1rem;
  }

  .btn {
    margin-left: 0;
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .profile-image img {
    margin: 20px auto; 
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .home {
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }

  .profile h1 {
    margin-top: 40px;
    margin-left: 0;
    font-size: 4rem;
  }

  .profile p {
    margin-left: 0;
    font-size: 1.1rem;
  }

  .btn {
    margin-left: 0;
    font-size: 1rem;
  }

  .profile-image img {
    margin: 20px auto;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
  }

  .profile {
    padding: 20px; 
  }

  .profile h1 {
    margin-left: 50px;
    font-size: 6rem;
  }

  .profile p {
    margin-left: 50px;
    font-size: 1.2rem;
  }

  .btn {
    margin-left: 50px;
    font-size: 1.1rem;
    padding: 10px 20px;
  }

  .profile-image img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}


@media (min-width: 992px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .profile h1 {
    margin-left: 100px;
    font-size: 7.5rem;
  }

  .profile p {
    margin-left: 100px;
    font-size: 1.25em;
  }

  .btn {
    margin-left: 100px;
    font-size: 1.2rem;
  }

  .profile-image img {
    width: 450px;
    height: 550px;
  }
}
